        table img{
            border-radius: 10px;
            box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 3);
        }
        @media screen and (max-width: 768px){
            .table-rwd thead{
                display: none;
            }

            .table-rwd tbody tr{
                display: block;
                border: 2px solid var(--kebuke-blue);
                margin-top: 15px;
            }

            .table-rwd tbody tr td{
                display: block;
                /* 解決跑版的問題 */
                overflow: hidden;
            }

            .table-rwd tbody tr td::before{
                /* attr:讀取隱藏文字 */
                content: attr(data-th) " : ";
                font-size: 20px;
                font-weight: 900;
                float: left;
                text-align: right;
                padding-right: 1em;
            }
            .table-rwd tbody tr td span{
                display: block;
                float: left;
                width: 70%;
            }
        }